@charset "utf-8";
#partners-bar {
  background-color: #FF553D;
  padding-top: 2px;
  padding-bottom: 5px;
}
#shopping-wifi-courtesy {
  background-color: #DFDFDF;
}
#shopping-wifi-courtesy p {
  color: #5a5a5a;
  font-weight: bold;
  text-transform: uppercase;
}
#shopping-wifi-courtesy p span {
  color: #f46034;
}
