@charset "utf-8";


#partners-bar {
	background-color: #FF553D;
	padding-top: 2px;
	padding-bottom: 5px;
}

#shopping-wifi-courtesy {
	background-color: #DFDFDF;

	p {
		color: #5a5a5a;
		font-weight: bold;
		text-transform: uppercase;

		span {
			color: #f46034;
		}
	}
}
